<div class= "studentSaveForm">
    <h3>Add New Student</h3>
    <form>
        <br>
        <label class = "labelStyle" for="fname">First name:</label>
        <input class = "inputStyle" type="text" id="fname" name="fname" value=""><br>
        <label class = "labelStyle" for="lname">Last name:</label>
        <input class = "inputStyle"  type="text" id="lname" name="lname" value=""><br>
        <label  class = "labelStyle" for="lname">Email:        </label>
        <input class = "inputStyle"  type="email" id="email" name="email" value=""><br><br>
        <input type="submit" value="Save">
      </form> 
</div>

