
<table>
    <thead>
        <tr><th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let student of students.students"> 
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.email }}</td>
            <td>
                <button  class = "btn" (click)="onView(student)">View</button>
                <button class = "btn" (click)="onUpdate(student)">Update</button>
                <button  class = "btn" (click)="onDelete($event, student.id)">Delete</button>
            </td>         
        </tr>
    </tbody>
</table>

