<div class= "studentSaveForm">
    <h3>Update Student</h3>
    <form #studentForm="ngForm" (ngSubmit) = "onSubmit(studentForm)" >
        <br>
        <label class = "labelStyle" for="fname">First name:</label>
        <input class = "inputStyle"  required #fname="ngModel"   type="text" id="fname" name="firstName" value="123" [(ngModel)] = "firstName"><br>
        <div *ngIf="fname.touched && fname.invalid" class = "alert">First Name is required</div>

        <label class = "labelStyle" for="lname">Last name:</label>
        <input class = "inputStyle"  required #lname="ngModel" type="text" id="lname" name="lastName" value=""  [(ngModel)] = "lastName"><br>
        <div *ngIf="lname.touched && lname.invalid" class = "alert">Last Name is required</div> 

        <label  class = "labelStyle" for="lname">Email:        </label>
        <input email class = "inputStyle" required #email="ngModel" type="email" id="email" name="email" value="" [(ngModel)] = "serverEmail"><br>
        <div *ngIf="email.touched && email.invalid" class = "alert">Email is required</div>
        <input type="submit" [disabled]="fname.invalid || lname.invalid || email.invalid" value="Save">
      </form> 
</div>



